<article class="card my-1">
	<div class="row mt-2"> <!--Error messages-->
		<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-10">
				<div class='alert alert-danger prod-error-alert'>
					No product with that ID
				</div>
				<div class='alert alert-danger prod-dup-error-alert'>
					Product already added to order
				</div>
				<div class='alert alert-danger quant-error-alert'>
					Quantity exceeds inventory
				</div>
				<div class='alert alert-info discount-info-alert'>
				</div>
		</div>
	</div>
	<div class="row mx-2 my-1">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :product_id %>
				</h5>
					<%= f.number_field :product_id, class: "form-control", id: "product_id", placeholder: "Product ID" %>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :quantity %>
				</h5>
					<%= f.number_field :quantity, class: "form-control", id: "quantity", :readonly => true, placeholder: "Enter quantity" %>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :amount %>
				</h5>
					<%= f.number_field :amount, step: :any, class: "form-control", id: "amount", :readonly => true, placeholder: "Amount" %>
			</div>
		</div>
		<div class="col-md-8 offset-md-2">
			<span class="float-right">
				<%= f.hidden_field :_destroy %>
    			<%= link_to 'Delete', '#', class: 'remove_record btn btn-danger btn-sm' %>
			</span>
		</div>
	</div>
</article>
<script>

	var currp;
	var currq;
	var dup =false;
	var count = 0;
	var curra;
	var $ta = $('.total-amount');
	
	$('article #product_id').on('focus', function(event) {
		count=0;
		currp = $(this).val();
		curra = $(this).closest('article').find("#amount").val();
	});
	$('article #product_id').on('keydown', function(event) {
		if(event.keyCode == 13){
			event.preventDefault();
		}
	});
	$('article #product_id').on('blur', function(event) {
		if(event.type=='blur' && count==0){ //Check if field is out of focus
			const p = $(this).val(); //Product id entered 
			var $q =$(this).closest('article').find("#quantity"); //Quantity input field of the current form
			var $a =$(this).closest('article').find("#amount"); //Amount field of the current form
			var $pdea = $(this).closest('article').find('.prod-dup-error-alert'); //Error alert for duplicate products
			var $discinfo = $(this).closest('article').find('.discount-info-alert');
			$qea = $(this).closest('article').find('.quant-error-alert');
			dup = $pdea.is(":visible");
			if(p!=currp) {
				$discinfo.hide();
				$qea.hide();
			}
			var found = false; //Flag to check if product exists in db
			$.each( jsonprods, function( key, value ) { //Loop through the JSON
				if(value.id == p){ //Check if product id exists
					if(!productsList.includes(p)){
						$pdea.hide();
						$q.attr("readonly", false); //set quantity field as editable	
						productsList.push(p);
						$.each( jsondiscs, function( k, v ) { //Loop through the JSON
							if(v.product_id==p) {
								var today = new Date();
								var start_date = new Date(parseInt(v.starts_at.substring(0,4)), parseInt(v.starts_at.substring(5,7))-1, parseInt(v.starts_at.substring(8,10)));
								var end_date = new Date(parseInt(v.ends_at.substring(0,4))+1, parseInt(v.ends_at.substring(5,7))-1, parseInt(v.ends_at.substring(8,10)));
								if(today >= start_date && today <= end_date){
									$discinfo.html('Discount of <span class="disc-percent">'+v.percent+'</span>% is available for the product.');
									$discinfo.show();
								}
							}
						});
					} else if(currp!=p){
						$discinfo.hide();	
						$pdea.show();
						$qea.hide();
						$q.val('');
						$a.val('');
						$q.attr("readonly", true);
						var tamt = parseFloat($ta.text()); //Update total amount
						tamt-=curra;
						$ta.text(tamt);	
					}
					if(p==currp) {
						$q.attr("readonly", false); //set quantity field as editable
					}
					found = true;
				}
			});
			
			if((p!=currp)  && !dup ){ //Remove the previous product id from the list if the new is not same and the previous product id is not a duplicate
				const index = productsList.indexOf(currp);
			    if (index > -1) {
					productsList.splice(index, 1);
				}
				$q.val('');
				$a.val('');
				var tamt = parseFloat($ta.text()); //Update total amount
				tamt-=curra;
				$ta.text(tamt);
			}
			if(found==false) { //Check if the product id entered is present in the db
				$(this).closest('article').find('.prod-error-alert').show(); //Display error and hide other errors
				$pdea.hide();
				$qea.hide();
				$q.val('');
				$a.val('');
				$q.attr("readonly", true);
				var tamt = parseFloat($ta.text()); //Update total amount
				tamt-=curra;
				$ta.text(tamt);
			} else {
				$(this).closest('article').find('.prod-error-alert').hide();

			}
		}
		count++;
	});
	$('article #quantity').on('focus', function(event) {
		currq = $(this).val();
		count = 0;
		curra = $(this).closest('article').find("#amount").val();
	});
	$('article #quantity').on('keydown', function(event) {
		if(event.keyCode == 13){
			event.preventDefault();
		}
	});
	$('article #quantity').on('blur', function(event) {
		if(event.type=='blur' && count==0){ //Check if field is out of focus
			var q = $(this).val(); //Quantity entered 
			var p = $(this).closest('article').find("#product_id").val(); //Product id of the current form
			var $a = $(this).closest('article').find("#amount"); //Amount input field
			// var curra = parseInt($a.val());
			var tamt = parseFloat($ta.text());
			var total;
			var $discinfo = $(this).closest('article').find('.discount-info-alert');
			var discnt = parseFloat($discinfo.find('.disc-percent').text());
			var $qea = $(this).closest('article').find('.quant-error-alert'); //Alert box of quantity errors
			$.each( jsonprods, function( key, value ) { //Loop through the JSON
				if(value.id == p) { //Find the product from the JSON
					if(q<=value.quantity) { //Check if quantity entered is within the inventory range
						if($discinfo.is(":visible")){
							var discamt = (q*value.price)-(q*value.price)*(discnt/100);
							$a.val(discamt);
							total = tamt + discamt -curra;
						} else{
							$a.val(q*value.price); //Set the amount field with the computed amount
							total = tamt + (q*value.price) - curra;
						}
						$ta.text(total);
						$qea.hide();
					} else {
						total = tamt - curra;
						$ta.text(total);
						$qea.show();
						$a.val('');
					}
					
				}
			});
		}
		count++;

	});
</script>