<article class="card my-1">
	<div class="row mx-2 my-1">
		<div class="col-md-2">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :product_id %>
				</h5>
					<%= f.number_field :product_id, class: "form-control", id: "product_id", placeholder: "Product ID" %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :quantity %>
				</h5>
					<%= f.number_field :quantity, class: "form-control", id: "quantity", :readonly => true, placeholder: "Enter quantity" %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<h5 class="font-weight-normal">
					<%= f.label :amount %>
				</h5>
					<%= f.number_field :amount, class: "form-control", :readonly => true, placeholder: "Amount" %>
			</div>
		</div>
		<div class="col-md-8 offset-md-2">
			<span class="float-right">
				<%= f.hidden_field :_destroy %>
    			<%= link_to 'Delete', '#', class: 'remove_record btn btn-danger btn-sm' %>
			</span>
		</div>
	</div>
</article>
<script>
	$('article #product_id').on('keydown', function(event) {
		if(event.keyCode == 13){
			var p = $(this).val();
			//Add validation here
			$(this).closest('article').find("#quantity").attr("readonly", false);
			event.preventDefault();
		}
	});
</script>