<% flash.each do |name, msg| %>
  <% if msg != "Order should contain a minimum of one item" %>
    <%= render 'layouts/messages' %>
  <% end %>
<% end %>
<% if @product && @product.length()>0 %>
	<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity left</th>
    </tr>
  </thead>
  <tbody>
  	<% @product.each do |prod| %>
	    <tr>
	      <th scope="row"><%= prod.id %></th>
	      <td><%= prod.name %></td>
	      <td><%= prod.price %></td>
	      <td><%= prod.quantity %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
	
		
	
<% end %>