<h1 class="text-center my-3">All orders of the Store</h1>

<div class="row mt-5">
	<div class="col-md-8 offset-md-2">
		<table class="table table-hover">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">No.of items</th>
		      <th scope="col">Employee</th>
		      <th scope="col">Time</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @agg_orders.each do |each_order| %>
		  		<% employee = Employee.find(each_order.employee_id) %>
		  		<% each_sub_order = Order.where(aggregated_order_id: each_order.id) %>
			    <tr onclick="window.location='<%= aggregated_order_path(each_order) %>'" class="clickable">
			      <th scope="row"><%= each_order.id %></th>
			      <td><%= each_sub_order.count %></td>
			      <td><%= employee.fName %>&nbsp;<%= employee.lName %></td>
			      <td><%= each_order.created_at %> (<%= time_ago_in_words(each_order.created_at) %> ago)</td>
			    </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>