<div class="container">
	<!--Edit password form-->
	<h1 class="text-center mt-3 mb-5">Edit Password for <%= current_employee.fName %> <%= current_employee.lName %></h1>

	<div class="row mt-3">
		<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-6 offset-3">
			<%= form_for(:user, url: editPassword_path) do |f| %>
				<div class="form-group">
					<h5 class="font-weight-normal">
						<%= f.label :old_password %>
					</h5>
						<%= f.password_field :old_password, class: "form-control", placeholder: "Enter old password" %>
				</div>
				<div class="form-group">
					<h5 class="font-weight-normal">
						<%= f.label :new_password %>
					</h5>
						<%= f.password_field :new_password, class: "form-control", placeholder: "Enter new password" %>
				</div>
				<div class="form-group">
					<h5 class="font-weight-normal">
						<%= f.label :confirm_password %>
					</h5>
						<%= f.password_field :conf_password, class: "form-control", placeholder: "Confirm password" %>
				</div>
				<div class="form-group text-center">
						<%= f.submit "Change password", class: 'btn btn-primary btn-lg' %>
				</div>
			<% end %>
			<div class="text-center">
				[ <%= link_to "Cancel request and return to profile page", employee_path(current_employee) %> ]
			</div>
		</div>
	</div>
</div>