<!DOCTYPE html>
<html>
  <head>
    <title>StoreApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>_<%= action_name %>"> <!--To add custom css based on controller and action-->
  	<%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>
